//Font
$line-h: 18.75px;
$font-family: "Roboto", sans-serif;
$logo-font-family: "Courgette", cursive;
$home-heading: 64px;
$h1: 56px;
$h2: 48px;
$h3: 28px;
$h4: 20px;
$h5: 14px;
$h6: 12px;

//colors
$orange: #f2c94c;
$light-orange: #fcedc6;
$light-green: #eff7f2;
$dark: #0b0706;
$dark-grey: #1d2130;
$gray: #525560;
$light-blue: #ebf0f9;
$light-grey: #e5e5e5;
$white: #ffffff;
$black: #000000;

//image border-radius
$img-radius: 20px;
