@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import "./mixin";
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* || Button */

.btn {
  @include button;
}
/* || Section Title*/
.section-title {
  font-size: 16px;
  font-weight: 700;
  line-height: $line-h;
  letter-spacing: 2px;
  color: $dark-grey;
}

/* || paragraph */
.paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6 px;
  text-align: justify;
  color: $gray;
}

/* || Font */
body {
  font-family: $font-family;
}

h1 {
  font-size: $h1;
  font-weight: 700;
  line-height: 67.2px;
  color: $dark-grey;
}

h2 {
  font-size: $h2;
  font-weight: 700;
  line-height: 57.6px;
  color: $dark-grey;
}

h3 {
  font-size: $h3;
  font-weight: 700;
  line-height: 42px;
  color: $white;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}
/* || container class */
.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* || video play button */

.play {
  position: relative;

  .circle {
    width: 100%;
    height: 100%;
    background-color: $white;
    border-radius: 50%;
  }
  .triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    border-radius: 1px;
  }
}
/* || Logo */

.largerthan {
  font-size: 24px;
  font-weight: 700;
}
.i {
  font-family: $logo-font-family;
  font-size: 25px;
  font-weight: 400;
}

/* || Navbar section */

.position {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  overflow: hidden;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 271px;
  padding: 20px 0;
  @include border-bottom;

  &-logo {
    display: flex;
    line-height: 44px;
  }

  &-list ul {
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: $line-h;
    a {
      color: $gray;
    }
  }

  &-btn {
    @include navbar-button;
  }

  &-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 54px;
    height: 39px;
    padding: 11.58px 9.28;

    &-line {
      width: 100%;
      height: 2px;
      background-color: $black;
    }
  }
}

/* || Header section */

.header {
  position: relative;
  background: url(./images/bg-img.jpeg) center center no-repeat;
  background-size: cover;
  height: 735px;

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black;
    opacity: 0.6;
    z-index: 1;
  }

  &-text {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 640px;
    padding-top: 128px;
    z-index: 2;
  }

  .home-heading {
    font-size: $home-heading;
    font-weight: 700;
    line-height: 76.8px;
    color: $white;
  }

  .btn-now {
    display: flex;
    align-items: center;
    gap: 24px;

    .secondary-btn {
      @include secondary-button;
    }

    .video-btn {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 12px 16px;
      cursor: pointer;

      .play {
        width: 24px;
        height: 24px;

        .triangle {
          border-top: 4.57px solid transparent;
          border-left: 8.01px solid $dark-grey;
          border-bottom: 4.57px solid transparent;
        }
      }

      .video-text {
        font-size: 16px;
        font-weight: 500;
        line-height: $line-h;
        color: $white;
      }
    }
  }

  &-statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    color: $white;
    margin-top: 192px;
    z-index: 2;

    .line {
      height: 1px;
      width: 100%;
      background-color: $light-grey;
      margin: 0 20px;
    }

    .care,
    .donations {
      white-space: nowrap;
    }
  }
}

/* || About section */

.about {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 64px;

  .top-row {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding-left: 100px;

    .left-text {
      width: 100%;
      margin-top: 90px;

      &-flex {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
      }

      .primary-btn {
        margin-top: 48px;
        @include primary-button;
      }
    }

    .right-video {
      position: relative;
      height: 578.34px;
      width: 100%;
      background: url(./images/about-section-photo.png) center center no-repeat;
      background-size: cover;
      border-radius: 20px;

      .about-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $black;
        opacity: 0.4;
        z-index: 1;
        border-radius: 20px;
      }

      .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 64px;
        height: 64px;

        .triangle {
          border-top: 11.92px solid transparent;
          border-left: 21.37px solid $dark-grey;
          border-bottom: 11.92px solid transparent;
        }
      }
    }
  }

  .bottom-row {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .title-now {
      display: flex;
      align-items: center;

      .supporters {
        font-size: 16px;
        font-weight: 500;
        line-height: $line-h;
        letter-spacing: 2px;
        white-space: nowrap;
      }

      .supporters-line {
        height: 1px;
        width: 100%;
        background-color: $light-grey;
        margin-left: 24px;
      }
    }

    .about-logos {
      display: flex;
      justify-content: space-between;
    }
  }
}
/* || What We Do Section */
.what-we-do {
  background-color: $light-orange;
  padding: 96px 0;

  .container {
    display: flex;
    justify-content: space-between;
    gap: 70px;

    .what-we-do-text {
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding-left: 100px;
      max-width: 100%;

      .text {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      .functions {
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 460px;
        border-left: 2px solid $light-grey;
        padding-left: 76px;

        .function-title {
          font-size: 24px;
          font-weight: 700;
          line-height: 28.13px;
          margin-bottom: 14px;
        }
      }
    }
  }

  &-img {
    width: 100%;
    height: 658px;
    background: url(./images/what-we-do.jpeg) center center no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-top: 70px;
  }
}

/* || Project Section */
.project {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-top: 100px;

  &-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-left: 100px;
    max-width: 740px;
  }

  &-now {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    .project-card {
      position: relative;
      z-index: 1;
      height: 450px;
      padding: 80px 48px 48px 48px;

      .card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $dark;
        opacity: 0.6;
        border-radius: 20px;
        z-index: -1;
      }

      .paragraph {
        color: $white;
        margin-top: 16px;
      }

      .secondary-btn {
        position: absolute;
        bottom: 48px;
        @include secondary-button;
      }
    }

    .bg1 {
      background: url(./images/bg1.jpeg) center center no-repeat;
      background-size: cover;
      border-radius: 20px;
    }
    .bg2 {
      background: url(./images/bg2.jpeg) center center no-repeat;
      background-size: cover;
      border-radius: 20px;
    }
    .bg3 {
      background: url(./images/bg3.jpeg) center center no-repeat;
      background-size: cover;
      border-radius: 20px;
    }
  }
}

/* || Event Section */
.event {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 188px 0;

  &-title {
    display: flex;
    align-items: center;
    gap: 24px;

    .our-event {
      font-size: 40px;
      font-weight: 500;
      line-height: 56px;
      color: $dark-grey;
      white-space: nowrap;
    }
    .event-line {
      height: 1px;
      background-color: $light-grey;
      width: 100%;
    }
  }

  &-now {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    .event-card {
      display: flex;
      gap: 24px;
      height: 190px;
      width: 100%;
      padding: 32px;
      background-color: $orange;
      border-radius: 20px;

      .event-date {
        display: flex;
        flex-direction: column;

        .number {
          font-size: $h2;
          font-weight: 500;
          line-height: 57.6px;
          color: $dark-grey;
        }

        .month {
          font-size: 16px;
          font-weight: 500;
          line-height: $line-h;
          letter-spacing: 2px;
          color: $dark-grey;
        }
      }

      .event-info {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .next-event-title {
          display: flex;
          align-items: center;
          gap: 24px;

          .next-event {
            font-size: 16px;
            font-weight: 500;
            line-height: $line-h;
            letter-spacing: 2px;
            color: $dark-grey;
            white-space: nowrap;
          }

          .next-event-line {
            height: 2px;
            background-color: $dark-grey;
            width: 44px;
          }
        }
        h3 {
          color: $dark-grey;
          width: 100%;
        }
      }
    }
  }
}

/* || CTA Section */
.cta {
  position: relative;
  margin-bottom: 154px;
  background: url(./images/bg1.jpeg) center center no-repeat;
  background-size: cover;
  height: 384px;
  border-radius: 20px;
  z-index: 1;

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black;
    opacity: 0.5;
    border-radius: 20px;
    z-index: -1;
  }

  &-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    h2 {
      color: $white;
      text-align: center;
    }

    .cta-btn {
      display: flex;
      gap: 32px;
      .secondary-btn {
        @include secondary-button;
      }
      .primary-btn {
        @include primary-button;
        color: $black !important;
        white-space: nowrap;
        &:hover {
          color: $orange !important;
        }
      }
    }
  }
}

/* || Footer */

footer {
  background-color: $dark;

  .container {
    display: flex;
    gap: 120px;
    color: $white;
    padding: 96px 0;

    .footer-logo {
      display: flex;
    }

    .subscribe {
      font-size: 40px;
      font-weight: 700;
      line-height: 56px;
      max-width: 440px;
    }

    .footer-ul {
      display: flex;
      gap: 88px;

      .footer-li {
        display: flex;
        flex-direction: column;
        gap: 24px;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;
        cursor: pointer;
      }

      li:first-child {
        font-size: 16px;
        font-weight: 700;
        line-height: 25.6px;
      }
    }
  }
}

/* || About Us Page */

.our-journey {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  margin-top: 124px;
  padding: 64px 36px;
  background-color: $orange;
  border-radius: 20px;

  .journey-text {
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    width: 100%;

    .we-raised {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .journey-data {
      display: flex;
      gap: 32px;
      justify-content: left;

      &-content {
        display: flex;
        flex-direction: column;

        .journey-number {
          font-size: 24px;
          font-weight: 500;
          line-height: 38.4px;
          color: $black;
        }
        .journey-p {
          font-size: 12px;
          font-weight: 500;
          line-height: 19.2px;
          color: $black;
          white-space: nowrap;
        }
      }
    }
  }

  .journey-img {
    height: 450px;
    width: 100%;
    background: url(./images/about-us.png) center center no-repeat;
    background-size: cover;
    border-radius: 20px;
  }
}

/* || what we do page */
.what-we-do-page {
  background-color: transparent;

  &-img {
    background: url(./images/bg-img.jpeg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 380px;
    border-radius: 20px;
  }

  h1 {
    margin-bottom: 18px;
  }
}

/* || media page */
.media {
  background-color: $light-orange;
}

/* || contact us page */
.contact-us {
  display: flex;
  flex-direction: column;

  .section-title {
    margin-bottom: 26px;
  }

  &-text {
    background-color: $light-orange;
    padding: 76px 0 100px 0;

    &-info {
      display: flex;
      flex-direction: column;
      gap: 32px;
      width: 400px;

      &-content {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .info-h {
          font-size: 24px;
          font-weight: 700;
          line-height: 38.4px;
          counter-reset: $dark-grey;
        }

        .info-c {
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          color: $dark-grey;
        }

        .info-contact {
          display: flex;
          gap: 30px;
        }
      }
      .contact-us-line {
        height: 1px;
        width: 100%;
        background-color: $light-grey;
      }
    }
  }
}

/* || media */

@media (max-width: 1280px) {
  .container {
    margin: 0 10px;
  }
  .cta {
    margin-bottom: 154px;
  }

  .navbar {
    gap: 150px;
  }

  .top-row,
  .what-we-do-text,
  .project-text,
  .journey-text {
    padding-left: 0 !important;
  }

  .left-text {
    margin-top: 0 !important;
  }
}

@media (max-width: 1000px) {
  .navbar {
    gap: 50px;
  }

  footer .container {
    gap: 100px;
  }

  .subscribe {
    font-size: 24px !important;
    font-weight: 500 !important;
    line-height: 36px !important;
  }
}

/* || iPhone SE - 1 media */

@media (max-width: 800px) {
  .navbar {
    justify-content: space-evenly;
  }

  .navbar-list,
  .navbar-btn,
  .header-statistics,
  .next-event-line,
  .event-line,
  .project-text h2 {
    display: none;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-list ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
  }

  .video-btn,
  .functions,
  .footer-ul,
  .bottom-row {
    display: none !important;
  }

  .header-text {
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 735px;
    padding: 0;
  }

  .top-row,
  .what-we-do .container,
  .our-journey {
    flex-direction: column;
    align-items: center;
    gap: 80px !important;
  }

  .left-text,
  .project-now,
  .event-now {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .container,
  .info-contact {
    flex-direction: column;
    gap: 16px;
  }

  .subscribe {
    padding-left: 44px;
    font-size: 16px;
  }

  .section-title {
    margin: 0 auto 0 0;
  }

  h2,
  h1 {
    text-align: center;
  }
  .primary-btn {
    color: $white !important;
  }
  .what-we-do-img {
    margin-top: 0;
  }

  .event h3 {
    font-size: 16px;
    line-height: 18px;
  }

  .cta {
    margin-bottom: 64px;
  }
  .cta-btn {
    gap: 24px !important;
    flex-direction: column;
    align-items: center;
  }

  .cta h2 {
    font-size: 36px;
    line-height: 36px;
  }

  .journey-data {
    gap: 8px;
  }

  .event-title {
    justify-content: center;
  }

  .contact-us-text-info {
    width: 100%;
  }
}
